
####################################################################
# Slack
####################################################################
WEB_HOOK_URL=https://hooks.slack.com/services/...
CHANNEL=#channel-name
ENABLE_SLACK_NOTIFICATION=false
LOG_PATH=/var/log/nginx/hng-access.log

####################################################################
# Auth
####################################################################
EMAIL='hello@email.com'
PASSWORD='supersecret'

####################################################################
# IP Blocking(For Prod, Set To `false` Else IP Blocking will fail)
####################################################################
DRY_RUN=true
